@import 'tricons';

.tricon {
  .button-reset();
  .tricon();
  border-radius: 2px;
}

#icon2 {
  .tricon(2px, 500px, 500px, 0, 0, #999, #fff, #111, #333);
  border-radius: 4px;
}

// Example index.html styles

.container {
  width: 75%;
  margin: 0 auto;
  text-align: center;
  font-family: sans-serif;
  color: #222;
}

.links a {
  display: block;
  line-height: 1.5;
  color: #2A97EF;
  &:hover {
    color: saturate(lighten(#2A97EF, 5%), 5%);
  }
}

hr {
  border: none;
  &:before {
    content: '';
    display: block;
    border-top: 1px solid #eee;
  }
}

.button-reset() {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  background: none;
  border: 0;
  color: inherit;
  /* cursor: default; */
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  -webkit-user-select: none; /* for button */
  -moz-user-select: none;
  -ms-user-select: none;
  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
}

