@import 'tricons';

.tricon {
  .tricon();
  border-radius: 2px;
}

#icon2 {
  .tricon(5px, 60px, 60px, 10px, 20px, #999, #fff, #111, #333);
  border-radius: 4px;
}

// Example index.html styles

.container {
  width: 75%;
  margin: 0 auto;
  text-align: center;
  font-family: sans-serif;
  color: #222;
}

.links a {
  display: block;
  line-height: 1.5;
  color: #2A97EF;
  &:hover {
    color: saturate(lighten(#2A97EF, 5%), 5%);
  }
}

hr {
  border: none;
  &:before {
    content: '';
    display: block;
    border-top: 1px solid #eee;
  }
}